.link {
  margin-left: 10px;
  padding: 30px;
  text-decoration: none;
  color: rgb(71, 70, 70);
}

.activeLink {
  composes: link;
  color: crimson;
}
.nav {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid;
  box-shadow: 0px 7px 3px gray;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: 500;
  color: darkgray;
  border-radius: 8px;
}
.nav:hover {
  box-shadow: inset 0px 5px 3px gray;
}
